@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.sr-hidden {
  visibility: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.h1-sm {
  font-size: 2em;

}

/* .arrow {
  transition: transform 0.25s;
}

.arrow:hover {
  
} */

/* Transition for the description visibility */
/* .hidden {
  height: 100px;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.visible {
  height: auto;
  opacity: 1;
  transition: height 0.5s ease, opacity 0.5s ease;
} */


/* Smooth transition for description on hover */
.group .text-gray-600 {
  /* transform: translateY(-0.25em); */
  transition: transform 1s;
  /* transform: rotate(90deg); */
  opacity: 1;
  max-height: 210px;
  /* Adjust this value for the description size */
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

/* .text-gray-600 {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
} */


/* .arrow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.arrow span:after {
  content: 'more info';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */